
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;

$body-background-color: #EAE2D7;
$sidebar-background-color: #FFF;
// Container definitions
$container-width: 960px !default;
$container-padding: 20px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 1.6em !default;
$font-line-height: 1.4 !default;

/* Sidebar fonts */
$fonts-sidebar-color: #97866f;
$font-sidebar-size: 12px;

/* Box radius */
$box-radius: 0.6em;

/* News Header background color */
$gradient1: #e61052;
$gradient2: #fb2e6d;
$degGrad: 360deg;

